[Unit]
Description=Shrew Soft VPN client IKE daemon
Documentation=man:iked(8)

[Service]
Type=simple
ExecStart=/usr/sbin/iked -F -l /var/log/iked.log

[Install]
WantedBy=multi-user.target
