#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS := hardening=+all

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -q DEB_HOST_GNU_TYPE)

libsubdir := lib/$(DEB_HOST_GNU_TYPE)/ike

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_INSTALL_RPATH='$$'ORIGIN/../$(libsubdir) \
	    -DMANDIR=/usr/share/man \
	    -DNATT=YES \
	    -DLIBDIR=/usr/$(libsubdir)

override_dh_auto_install:
	dh_auto_install
	rm -f debian/ike/usr/$(libsubdir)/*.so
	rm debian/ike/etc/iked.conf.sample

override_dh_shlibdeps:
	dh_shlibdeps -l$(abspath debian/ike/usr/$(libsubdir))

# vim: ts=8 sts=4 sw=4 noet
